<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432992161832-m834eft2ttb3dcg5qhqek61dfban32m4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432992161832-m834eft2ttb3dcg5qhqek61dfban32m4</string>
	<key>API_KEY</key>
	<string>AIzaSyAAuLG07I3V0CQY0oASQhT4zRD2doJmsm8</string>
	<key>GCM_SENDER_ID</key>
	<string>432992161832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fury2k.FireBaseTestApp</string>
	<key>PROJECT_ID</key>
	<string>fir-testapp-254ac</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-testapp-254ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432992161832:ios:6d71366a88134d0f</string>
	<key>DATABASE_URL</key>
	<string>https://fir-testapp-254ac.firebaseio.com</string>
</dict>
</plist>